p {
    color: red;
    background-color: blue;
    border: 5px solid pink
}
.special {
    color: beige
}

.box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.7turn);
  }