
header {
    padding: 20px;
    font-family: 'Times New Roman';
    background-color:white;
    color: pink;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman';
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

body {
    background-color: darkgray;
  }

header h2 {
    text-align: right;
}
.mywork1{
    background-image: url(../week2-homework-portfolio/Screen\ Shot\ 2021-07-02\ at\ 8.04.53\ AM.jpg);
}

.mywork2 {
    background-image: url(../week2-homework-portfolio/bluecomputer.jpeg);
}

.mywork3 {
    background-image: url(../week2-homework-portfolio/bluecomputer.jpeg);
}
.mywork1 { 
    position: relative;
    top: 0px;
    width: 552px;
    height: 322px;
    z-index: 1;
    opacity: 1;
    transition: opacity 2s;
}
 .mywork2 {
    position: relative;
    top: 0px;
    width: 552px;
    height: 322px;
    z-index: 1;
    opacity: 1;
    transition: opacity 2s;
}
.mywork3 { 
    position: relative;
    top: 0px;
    width: 552px;
    height: 322px;
    z-index: 1;
    opacity: 1;
    transition: opacity 2s;
}  
.overlay1 {
    background-color: pink;
    position: absolute;
    width: 552px;
    height: 400px;
    transition: opacity 1s;
}

.overlay2 {
    background-color: peachpuff;
    position: absolute;
    transition: opacity 1s;
}

.overlay3 {
    background-color: lavenderblush;
    position: absolute;
    transition: opacity 1s;
}

div[class*='overlay']:hover {
   opacity: 0;
}  

.mywork1 {
    min-height: 400px;
    flex-basis: 100%;
}

.mywork2, .mywork3 {
    min-height:200px;
    flex-basis: 100%;
    background-repeat: no-repeat;

}



